.Movies__container {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.Search__container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  
  margin: 20px 0px 0px;
  padding: 0 20px;
}

.Search__input {
  width: 100%;
  min-height: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: normal;
  color: #6d6e70;
  margin: 0px;
  padding: 10px;
  resize: none;
}